<div class="container" style="margin-top:100px">
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr class="row">
                    <th>
                        Key
                    </th>
                    <th ng-repeat="lang in availableLanguages track by $index">
                        <span>[[ lang ]]</span>
                    </th>
                    <th>Actions</th>
                </tr>
                <tr class="row" ng-repeat="translation in translations track by $index">
                    <td>
                        <strong ng-show="!creating[$index]">[[ translation.key ]]</strong>
                        <input ng-show="creating[$index]" type="text" ng-model="translation.key">
                    </td>
                    <td ng-repeat="lang in availableLanguages">
                        <span ng-show="!editing[$parent.$index] && !creating[$parent.$index]">
                            [[ translation.values[lang] || '(empty)' ]]
                        </span>
                        <input ng-show="editing[$parent.$index] || creating[$parent.$index]" type="text" ng-model="translation.values[lang]">
                    </td>
                    <td>
                        <button ng-show="!editing[$index] && !creating[$index]" class="btn btn-sm btn-primary" ng-click="edit($index)">Edit</button>
                        <button ng-show="!editing[$index] && !creating[$index]" class="btn btn-sm btn-danger" ng-click="delete($index)">Delete</button>
                        <button ng-show="editing[$index] || creating[$index]" class="btn btn-sm btn-success" ng-click="save($index)">Save</button>
                        <button ng-show="editing[$index] || creating[$index]" class="btn btn-sm btn-warning" ng-click="cancel($index)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-sm btn-success" ng-click="newKey()">New Translation Key</button>
        <button popover-is-open="uiState.newLang.isOpen" uib-popover-template="'newLang.html'" class="btn btn-sm btn-success">New Language</button>
    </div>
</div>


<script type="text/ng-template" id="newLang.html">
    <input type='text' placeholder='Add new language' ng-model='lang'>
    <hr/>
    <button class='btn-success' ng-click='newLang(lang);cancel()'>Add Language</button>
</script>