<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        {% block title %}
            Welcome!
        {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/atstranslation/css/lib/bootstrap.min.css') }}" />
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        {% block topnav %}
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">i18n Back-office</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#">Translations</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        {% endblock %}
        {% block body %}
            <div id="main" ng-app="TranslationAppModule">
                <div class="container" ng-view></div>
                <script type="text/ng-template" id="/list.html">
                {% include 'ATSTranslationBundle:Partials:list.html.twig' %}
                </script>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('bundles/atstranslation/lib/lodash.min.js') }}"></script>
            <script src="{{ asset('bundles/atstranslation/lib/jquery-3.3.1.js') }}"></script>
            <script src="{{ asset('bundles/atstranslation/lib/angular.min.js') }}"></script>
            <script src="{{ asset('bundles/atstranslation/lib/angular-route.min.js') }}"></script>
            <script src="{{ asset('bundles/atstranslation/lib/angular-animate.min.js') }}"></script>
            <script src="{{ asset('bundles/atstranslation/lib/ui-bootstrap-tpls.min.js') }}"></script>
            <script src="{{ asset('bundles/atstranslation/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>